pkgbase = perl-io-sendfile
	pkgdesc = Perl extension that implements the sendfile() interface.
	pkgver = 0.01
	pkgrel = 1
	url = http://search.cpan.org/dist/IO-SendFile
	arch = any
	license = PerlArtistic
	license = GPL
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/A/AD/ADDI/IO-SendFile-0.01.tar.gz
	source = inc.patch
	md5sums = 4d656098a01eb6632cc9d073bd1c9eda
	md5sums = SKIP
	sha512sums = bbd396c2d88e1b07ce0ebd0b78867246a0d676f76c9b547963acdbd314b2e23d4f44a620411c25bbd24e8be7b35964beb56e8955915686ddf2f45312ddf78431
	sha512sums = SKIP

pkgname = perl-io-sendfile
